article h1,
article h2,
article h3,
article h4 {
  @apply mb-3;
}

article a {
  @apply underline;
}

article p:not(:last-child) {
  @apply mb-8;
}

article img {
  @apply bg-muted mx-auto w-full h-[500px] my-8 object-contain rounded-xl p-4 border;
}
article table,
article th,
article td {
  @apply border;
}

article table {
  @apply my-8;
}

article td,
article th {
  @apply p-2 text-base;
}

/* List */
ol,
ul {
  @apply ml-5 my-8;
}
ol li,
ul li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-0;
}

ol {
  @apply list-decimal;
}

li {
  @apply my-4;
}

li::before {
  display: inline-block;
  white-space: nowrap;
  width: 1.2em;
}

.ql-indent-1,
.ql-indent-2,
.ql-indent-3,
.ql-indent-4,
.ql-indent-5,
.ql-indent-6,
.ql-indent-7,
.ql-indent-8,
.ql-indent-9 {
  list-style: none;
  display: flex;
  gap: 0.5em;
}
ol li.ql-indent-1 {
  counter-increment: list-1;
}
ol li.ql-indent-1:before {
  content: counter(list-1, lower-alpha) ". ";
}
ol li.ql-indent-1 {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
ol li.ql-indent-2 {
  counter-increment: list-2;
}
ol li.ql-indent-2:before {
  content: counter(list-2, lower-roman) ". ";
}
ol li.ql-indent-2 {
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
ol li.ql-indent-3 {
  counter-increment: list-3;
}
ol li.ql-indent-3:before {
  content: counter(list-3, decimal) ". ";
}
ol li.ql-indent-3 {
  counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
}
ol li.ql-indent-4 {
  counter-increment: list-4;
}
ol li.ql-indent-4:before {
  content: counter(list-4, lower-alpha) ". ";
}
ol li.ql-indent-4 {
  counter-reset: list-5 list-6 list-7 list-8 list-9;
}
ol li.ql-indent-5 {
  counter-increment: list-5;
}
ol li.ql-indent-5:before {
  content: counter(list-5, lower-roman) ". ";
}
ol li.ql-indent-5 {
  counter-reset: list-6 list-7 list-8 list-9;
}
ol li.ql-indent-6 {
  counter-increment: list-6;
}
ol li.ql-indent-6:before {
  content: counter(list-6, decimal) ". ";
}
ol li.ql-indent-6 {
  counter-reset: list-7 list-8 list-9;
}
ol li.ql-indent-7 {
  counter-increment: list-7;
}
ol li.ql-indent-7:before {
  content: counter(list-7, lower-alpha) ". ";
}
ol li.ql-indent-7 {
  counter-reset: list-8 list-9;
}
ol li.ql-indent-8 {
  counter-increment: list-8;
}
ol li.ql-indent-8:before {
  content: counter(list-8, lower-roman) ". ";
}
ol li.ql-indent-8 {
  counter-reset: list-9;
}
ol li.ql-indent-9 {
  counter-increment: list-9;
}
ol li.ql-indent-9:before {
  content: counter(list-9, decimal) ". ";
}
.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 0.5em;
}
li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 0.5em;
}

.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 1.2em;
}
li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 1.2em;
}

.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 1.2em;
}
li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 2.5em;
}

.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 3.7em;
}
li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 3.7em;
}

.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 5em;
}
li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 5em;
}

.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 6.3em;
}
li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 6.3em;
}

.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 7.5em;
}
li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 7.5em;
}

.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 8.8em;
}
li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 8.8em;
}

.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 9.8em;
}
li.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 9.8em;
}

/* Align */

.ql-align-center {
  text-align: center;
}
.ql-align-justify {
  text-align: justify;
}
.ql-align-right {
  text-align: right;
}

/* Pre */
code,
pre {
  background-color: #f0f0f0;
  border-radius: 3px;
}
pre {
  white-space: pre-wrap;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
}
pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
}

pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
}
